%nav.col-md-2.d-none.d-md-block.bg-light.sidebar
  .sidebar-sticky
    %h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
      %span Configuration
    %ul.nav.flex-column
      %li.nav-item
        = link_to 'Translations', mandalorian_translations_path, class: 'nav-link'
