- remote = defined?(remote) ? remote : true
.modal-header
  %h5.modal-title= 'Edit Translation'
  - if remote
    %button.close{ aria: { label: 'Close' }, data: { dismiss: 'modal' }, type: 'button' }
      %span{"aria-hidden" => "true"} ×
= form_for [@item], remote: remote, html: { class: 'form-horizontal', role: 'form' } do |f|
  .modal-body

    = render 'error_messages', object: @item

    = f.hidden_field :locale
    = f.hidden_field :key

    .form-group
      .col-12
        = f.label :value
      .col-12
        = f.text_field :value, class: 'form-control'

  .modal-footer
    = f.submit 'Save', class: 'btn btn-primary'
    - if remote
      %button.btn.btn-secondary{ data: { dismiss: 'modal' }, type: 'button' } Close
