= render 'navbar'

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th{:scope => "col"} #
        %th{:scope => "col"} locale
        %th{:scope => "col"} key
        %th{:scope => "col"} value
        %th{:scope => "col"} created at
        %th{:scope => "col"} updated at
        %th{:scope => "col"}
    %tbody
      - @items.each do |item|
        %tr
          %th{:scope => "row"}= item.id
          %td= item.locale
          %td= item.key
          %td= item.value
          %td= item.created_at
          %td= item.updated_at
          %td= link_to 'Edit', edit_mandalorian_translation_path(item),  class: 'btn btn-primary'
