var el = document.querySelector('body');

mandalorianEditor = document.getElementById('mandalorianEditor');
if (mandalorianEditor) {
  $('#mandalorianEditor .modal-content').html('<%= escape_javascript(render partial: 'index') %>');
} else {
  $('body').append('<%= escape_javascript(render partial: 'modal', locals: { action: 'index' }  ) %>');
}
$('#mandalorianEditor').modal('show');

mandalorian.exec('mandalorian', "<%= controller_name %>", "<%= action_name %>");

