var el = document.querySelector('body');

mandalorianEditor = document.getElementById('mandalorianEditor');
if (mandalorianEditor) {
  $('#mandalorianEditor .modal-content').html('<%= escape_javascript(render partial: 'form') %>');
} else {
  $('body').append('<%= escape_javascript(render partial: 'modal', locals: { action: 'form' }  ) %>');
}
$('#mandalorianEditor').modal('show');

mandalorian.exec('mandalorian', "<%= controller_name %>", "<%= action_name %>");

$('#mandalorianEditor').animate({ scrollTop: 0 }, 'slow');