.modal-header
  %h5.modal-title= 'Edit Seo'
  %button.close{ aria: { label: 'Close' }, data: { dismiss: 'modal' }, type: 'button' }
    %span{"aria-hidden" => "true"} ×
= form_for [@item], remote: true, html: { class: 'form-horizontal', role: 'form' } do |f|
  .modal-body

    = render 'error_messages', object: @item

    = f.hidden_field :locale
    = f.hidden_field :key

    .form-group
      .col-12
        = f.label :title
      .col-12
        = f.text_field :title, class: 'form-control'
    
    .form-group
      .col-12
        = f.label :keywords
      .col-12
        = f.text_field :keywords, class: 'form-control'

    .form-group
      .col-12
        = f.label :description
      .col-12
        = f.text_field :description, class: 'form-control'

    .form-group
      .col-12
        = f.label :embed
      .col-12
        = f.text_area :embed, class: 'form-control'

  .modal-footer
    = f.submit 'Save', class: 'btn btn-primary'
    %button.btn.btn-secondary{ data: { dismiss: 'modal' }, type: 'button' } Close
