!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %meta{content: 'width=device-width, initial-scale=1, shrink-to-fit=no', name: 'viewport'}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'style', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body{ data: { action: action_name, controller: controller_name, name: { space: 'client' } } }
    - if session[:loggedin] == true
      = render 'mandalorian'
