.modal-header
  %h5.modal-title= 'Edit Image'
  %button.close{ aria: { label: 'Close' }, data: { dismiss: 'modal' }, type: 'button' }
    %span{"aria-hidden" => "true"} ×
= form_for [@item], remote: true, html: { class: 'form-horizontal', role: 'form' } do |f|
  .modal-body

    = render 'error_messages', object: @item

    = f.hidden_field :locale
    = f.hidden_field :key

    .form-group
      .col-5
        - if @item.file.present?
          = image_tag @item.file, style: 'width: 100%'
      .col-4
        = f.file_field :file
  .modal-footer
    = f.submit 'Save', class: 'btn btn-primary'
    %button.btn.btn-secondary{ data: { dismiss: 'modal' }, type: 'button' } Close
