#mandalorian
  = render 'mandalorian_menu'
  - if session[:edit_translations] == true
    = link_to 'disable edit', disable_mandalorian_translations_path, class: 'btn btn-primary'
  - else
    = link_to 'enable edit', enable_mandalorian_translations_path, class: 'btn btn-primary'
  = link_to 'seo', edit_mandalorian_seo_path(seo), remote: true, class: 'btn btn-primary'
  = link_to 'logout', mandalorian_session_path(id: 'self'), method: :delete, class: 'btn btn-primary'
:javascript
  translations_enabled = #{session[:edit_translations] == true}